@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi " + ViewBag.ErrorMessage;
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@{
    if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <h3 class="text-danger">Có lỗi xảy ra trong quá trình xử lý yêu cầu.</h3>
    }
    else
    {
        <h4 style="color: #ee2525;">@ViewBag.ErrorMessage</h4>
    }
}

