@model Models.EF.Map

@{
    ViewBag.Title = "Cập nhật thông tin bản đồ";
}


@using (Html.BeginForm())
{
    <h3>Thông tin bản đồ</h3>
    <hr />
    <div class="clearfix"></div>
    if (TempData["AlertMessage"] != null)
    {
        <div id="alertBox" class="alert alert-@TempData["AlertType"] text-center">
            @Html.Raw(TempData["AlertMessage"])
        </div>
    }
    <div class="clearfix"></div>
    <div class="form-horizontal">
       
        @Html.Partial("_MapForm")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu lại</button>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
