@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default" style="background-color:#fff">
        <div class="panel-heading">
            Quên mật khẩu
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                Vui lòng kiểm tra email để khôi phục lại mật khẩu
            </div>
        </div>
    </div>
</div>

