@{
    ViewBag.Title = "Xác nhận khôi phục lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Bạn đã khôi phục lại mật khẩu thành công. @Html.ActionLink("Nhận vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
