@model Models.EF.ProductCategory

@{
    ViewBag.Title = "Cập nhật thông tin danh mục sản phẩm";
}

@using (Html.BeginForm())
{    
    <div class="form-horizontal">
        <h3>Cập nhật thông tin danh mục sản phẩm</h3>
        <hr />
        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_ProductCategoryForm")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu lại</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


